{% extends 'admin_panel_templates/admin_base.html' %}

{% block adminContent %}
{% include 'admin_panel_templates/navbar.html' %}
{% load static %}


<div class="container">
    <div class="row">
        <h1 class="home-title mt-5">Change Book Details</h1>
    </div>

    <form method="post" class="row d-flex justify-content-center mt-5 align-items-center" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" hidden value="{{book.id}}" name="book-id">
        <div class="col-lg-8 mb-2 d-flex align-items-center gap-3 justify-content-center">
            <h4 style="width:fit-content;"><strong>ID</strong></h4>
            <h4 style="background-color: var(--orange);width:fit-content;padding: .3rem .6rem;color:white;">{{book.id}}</h4>
        </div>
        <div class="col-lg-8">
            <label for="" class="label">
                <strong>Book Title</strong>
            </label>
            <div class="row">
                <input required type="text" value="{{book.title}}" name="title">
            </div>
            <div class="row mt-4 justify-content-between">
                <div class="col-lg-5">
                    <div class="row mb-4">
                        <label for="playlist"><strong>Change Bookshelf</strong></label>
                        <select required name="category" id="playlist">
                            <option value="{{book.category.id}}">{{book.category}}</option>
                            {% for categorie in categories %}
                                <option value="{{categorie.id}}">{{categorie.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mb-2">
                        <label for=""><strong>Flipbuilder's Link</strong></label>
                        <input required name="link" value="{{book.flipbook_link}}" type="text">
                    </div>
                    <div class="row">
                        <strong>*Distribution</strong>
                        <select name="status" id="">
                            <option value="{{book.status}}">{{book.status}}</option>
                            <option value="subscription">Subscription</option>
                            <option value="pay-per-view">Pay-Per-View</option>
                        </select>
                    </div>
                    <div class="row mt-5">
                        <button class="btn" style="background-color: var(--orange);color:white;font-family: Boldervan;font-size: 20px;letter-spacing: 2px;" >Upload Flipbook</button>
                    </div>
                </div>
                <div class="col-lg-5 d-flex flex-column">
                    <div class="row mb-4">
                        <label for=""><strong>Description</strong></label>
                        <textarea required name="description" class="text-" id="" style="width:100; height: 6rem;" >{{book.overview}}</textarea>
                    </div>

                    <div class="row mb-4">
                        <label for=""><strong>Cover Photo</strong></label>
                        <a href="{% if book.img %} {{book.img.url}} {% endif %}" class="mb-4">
                            <img src="{% if book.img %} {{book.img.url}} {% endif %}" width="200" alt="">
                        </a>
                        <input type="file" name="cover-img" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}