{% extends 'admin_panel_templates/admin_base.html' %}
{% block adminContent %}
{% include 'admin_panel_templates/navbar.html' %}
{% load static %}

<div class="container">
    <div class="row">
        <h1 class="home-title mt-5">Change Bookshelf</h1>
    </div>
    <form method="post"  enctype="multipart/form-data" class="row d-flex justify-content-center align-items-center mt-5">
        {% csrf_token %}
        <div class="col-lg-8">
            <div class="row mb-3">
                <label for=""><strong>BookShelve Title</strong></label>
                <input required type="text" value="{{bookshelf.name}}" name="title">
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-5">
                    <button style="background-color: var(--orange) ; width:100%; color:white;font-family: Boldervan;font-size: 20px;letter-spacing: 2px;" type="submit" class="btn">Save Bookshelf</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row d-flex mt-5 justify-content-center align-items-center">
        <div class="col-lg-10 mt-5">
            <h3 style="font-family:Boldervan;color:var(--orange)" class=" mt-5">Books in this Shelf</h4>
        </div>
    </div>
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="col-lg-10">
            <table class="books-table" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book</th>
                        <th>Title</th>
                        <th>Bookshelf</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td><a href="{% if book.img %} {{book.img.url}} {% endif %}">
                                <img style="object-fit:cover;width:10rem;height:5rem;"
                                    src="{% if book.img %}{{book.img.url}} {% endif %}" alt="">
                            </a></td>
                        <td>{{book.title}}</td>
                        <td>{{book.category}}</td>
                        <td>
                            <a href="{% url 'book-details' %}?id={{book.id}}" class="btn details">Details</a>
                            <a href="" id="{{book.id}}" class="btn delete-btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-10 mt-5 d-flex gap-4 justify-content-center">
            {% if books.has_previous %}
            <a href="{% url 'uploaded-books' %}?page={{books.previous_page_number}}" class="btn btn-prev">Prev</a>
            {% endif %}
            {% if books.has_next %}
            <a href="{% url 'uploaded-books' %}?page={{books.next_page_number}}" class="btn btn-next">Next</a>
            {% endif %}
        </div>
    </div>
</div>



<div class="confirmation-box">
    <div class="icon">
        <img src="{% static 'images/logo.png' %}" width="150" alt="">
    </div>
    <div class="message">
        Do you want to continue to the action ? 
    </div>
    <div class="btns d-flex flex-row gap-3">
        <form action="{% url 'uploaded-books' %}" method="post" style="width:fit-content;">
            {% csrf_token %}
            <input name="id"  type="text" hidden id="id-to-delete-input">
            <button id="confirm-delete" type="submit" class="btn btn-danger">Yes</button>
        </form>
        <button id="deny-delete" class="btn btn-success">No</button>
    </div>
</div>


<script id="for-deleting-items">

    let confirmDeleteBtn = document.getElementById('confirm-delete');
    let deleteBtns = document.querySelectorAll('.delete-btn');
    let denyDelete = document.getElementById('deny-delete');
    let confirmationBox = document.querySelector('.confirmation-box');
    let idInput = document.getElementById('id-to-delete-input');
    let idToDelete;

    deleteBtns.forEach(btn => {
        btn.addEventListener("click", event => {
            event.preventDefault();
            idToDelete = event.target.id;
            confirmationBox.style.display = 'flex';
            idInput.value = idToDelete;
        })
    });


    denyDelete.addEventListener("click", event => {
        confirmationBox.style.display = 'none';
    });

</script>



{% endblock %}