{% extends 'admin_panel_templates/admin_base.html' %}

{% block adminContent %}
{% include 'admin_panel_templates/navbar.html' %}
{% load static %}


<div class="container">
    <div class="row">
        <h1 class="home-title mt-5">Create Album</h1>
    </div>

    {% if message %}
    <div style="color:white; background-color: green; margin-top: 2rem; text-align: center; width:fit-content; padding: .5rem 1rem; display: flex; justify-self: center;" class="message-box">
        {{message}}
    </div>
    {% endif %}
    
    <form method="post" class="row d-flex justify-content-center mt-5 align-items-center" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-8">
            <label for="" class="label">
                <strong>*Album Title</strong>
            </label>
            <div class="row">
                <input required type="text" name="title">
            </div>
            <div class="row mt-4 justify-content-between">
                <div class="col-lg-5">
                    <div class="row ">
                        <label for=""><strong>*Album Cover</strong></label>
                        <input required type="file" name="album-cover" class="form-control">
                    </div>
                    <div class="row mt-5">
                        <button class="btn" style="background-color: var(--orange);color:white;font-family: Boldervan;font-size: 20px;letter-spacing: 2px;">Create Album</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}